html {
    /* Habilita el desplazamiento suave para toda la página */
    scroll-behavior: smooth;
    scroll-padding-top: 120px; 
}
section {
    scroll-margin-top: 120px; 
}
.logo {
  width: 100;
  height: auto;
}

.hero-imagen{
    background-image: url('../img/hero-fondo.jpg');
    background-size: cover;
    background-position: center;
    min-height: auto;
}